<% if user_signed_in? %>
<%= "Bem-Vindo, #{current_user.name}" %>
<%= link_to 'Sair', destroy_user_session_path %>
<% else %>
<%= link_to 'Entrar', new_user_session_path %>
<% end %>
<h1>Rental Cars</h1>

<%= link_to "Categorias", car_categories_path %>

<%= link_to "Filiais", subsidiaries_path %>
<%= link_to 'Modelos de carro', car_models_path %>