<% if @car_category.errors.any? %>   <!--poderia ser tbm .errors.present? -->

    <% @car_category.errors.full_messages.each do %> <!--.errors.full_messages retorna um array de string dos erros -->
        <p><%= message %></p>
    <% end %>    
<% end %>  

<!-- s erros de .errors apenas são gravados no objetos no array quando é tentado DAR SAVE -->
<%= form_with model: @car_category, local: true do |f| %>
 <div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :daily_rate %>
<%= f.number_field :daily_rate, min: 0 %>
</div>
<div>
<%= f.label :car_insurance %>
<%= f.number_field :car_insurance, min: 0 %>
</div>
<div>
<%= f.label :third_party_insurance %>
<%= f.number_field :third_party_insurance, min: 0 %>
</div>
<div>
<%= f.submit 'Enviar' %>
</div>
<% end %>
<!-- o metodo CLASSE.human_atribute_name(:symbolATRB) retorna o nome do atributo traduzido no I18N configurado -->